body {
    margin-left: 17%;
    height: 1500px;
    width: 1000px;
}

#banner img {
    display: block;
    float: left;
    width: 100%;
}

#slideshow {
    overflow: hidden;
    height: 250px;
    width: 1000px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 6s ease infinite;
}

.slide {
    display: block;
    float: left;
    height: 510px;
    width: 1000px;
}

.slide img {
    display: block;
    float: left;
    height: 250px;
    width: 1000px;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }
    30% {
        margin-left: -1000px;
    }
    50% {
        margin-left: -1000px;
    }
    60% {
        margin-left: -1000px;
    }
    80% {
        margin-left: -1000px;
    }
}

#logo img {
    display: block;
    float: left;
    width: 50%;
}

#login input {
    width: 15%;
    padding: 6px 10px;
    margin: 8px 0;
}

#login button {
    font-size: 16px;
    background-color: crimson;
}

#search {
    margin-top: 10px;
    display: block;
    float: left;
    width: 1000px;
    background-color: white;
    text-align: center;
}

#search a {
    margin-left: 50px;
}

#search img {
    margin-top: 5px;
    width: 7%;
}

#search input {
    width: 250px;
    height: 20px;
    border-radius: 7px;
}

#search button {
    padding: 7px;
    border-radius: 7px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f1f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu {
    background-color: white;
    display: block;
    float: left;
}

#menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#menu li {
    display: block;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 40px;
    text-align: center;
}

#menu ul li table {
    width: 500px;
    height: 300px;
}

#menu ul li table a {
    text-decoration: none;
}

#product {
    width: 1000px;
    background-color: yellow;
    display: block;
    float: left;
    height: 930px;
}

#layoutcard {
    margin-left: 90px;
    background-color: white;
    display: block;
    float: left;
    margin-top: 10px;
    border-radius: 5px;
}

#card {
    width: 250px;
    height: 400px;
    display: block;
    float: left;
    margin: 25px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
}

#card img {
    width: 200px;
    height: 250px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    transition: all .3s ease
}

#card img:hover {
    transform: scale(1.5);
}

#card a {
    text-decoration: none;
    color: black;
}

#card button {
    background-color: #58257b;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

#card button:hover {
    background-color: crimson;
    color: white;
}

#footer {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 25px;
    display: block;
    float: left;
    color: black;
}

#footer img {
    width: 10%;
}

#footer ul li {
    list-style-type: none;
}

#footer a {
    text-decoration: none;
}

#footer button {
    padding: 7px;
    border-radius: 7px;
    background-color: cornsilk;
}

#aboutus {
    display: block;
    float: left;
    width: 70%;
}

#contactus {
    display: block;
    float: left;
    width: 30%;
}

#end {
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: smaller;
}